{% load static %}
<!DOCTYPE html>
<html class="m-0 p-0" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEG Solutions</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <!-- Fonts-->
    <link href="{% static './css/fonts.css' %}" rel="stylesheet">

    <!-- Site scrips and styles -->
    <script src="{% static './js/site-js-bundle.js' %}"></script>
    <link href="{% static './css/site-styles.css' %}" rel="stylesheet" type="text/css">
    
    <!-- Custom overrides loaded after the generated styles so they persist -->
    <link href="{% static './css/custom.css' %}" rel="stylesheet" type="text/css">

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- AlpineJS -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/sort@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    {% block additional_styles %}
    {% endblock additional_styles %}
</head>

<body class="h-screen bg-cover bg-center bg-fixed m-0 p-0 pt-1 text-sky-900 bg-sky-800 overflow-clip" 
hx-headers='{"X-CSRFToken": {{ csrf_token }}}'>
    {% block header %}
    {% endblock  %}

    <div class="">
        {% block content %}
        {% endblock content %}
        {% block page %}
        {% endblock page %}
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
