{% extends "page/session_header.html" %}

{% block navbar %}
    {# Navigation bar #}
    <nav class="py-5">
        <ul class="flex justify-evenly">
            {# Orders #}
            <li><a class="btn  font-medium text-sky-800 shadow-[1px_1px_0.5px_0.5px_rgb(0,0,0,0.25)] hover:bg-gray-200
                {% if menu_slug == 'order'%}bg-gray-200 translate-y-[1px]{% endif %}"
                href="{% url 'sales:order_table' %}">Orders</a></li>

            {# Invoices #}
            <li><a class="btn  font-medium text-sky-800 shadow-[1px_1px_0.5px_0.5px_rgb(0,0,0,0.25)] hover:bg-gray-200
                {% if menu_slug == 'invoice'%}bg-gray-200 translate-y-[1px]{% endif %}"
                href="{% url 'sales:invoice_table' %}">Invoices</a></li>

            {# Clients #}
            <li><a class="btn t font-medium text-sky-800 shadow-[1px_1px_0.5px_0.5px_rgb(0,0,0,0.25)] hover:bg-gray-200
                {% if menu_slug == 'client'%}bg-gray-200 translate-y-[1px]{% endif %}"
                href="{% url 'sales:client_table' %}">Clients</a></li>

            {# Products #}
            <li><a class="btn  font-medium text-sky-800 shadow-[1px_1px_0.5px_0.5px_rgb(0,0,0,0.25)] hover:bg-gray-200
            {% if menu_slug == 'product'%}bg-gray-200 translate-y-[1px]{% endif %}"
                href="{% url 'sales:product_table' %}">Products</a></li>


        </ul>
    </nav>
{% endblock navbar %}
