{% extends "page/base.html" %}
{% load account_tags %}

{% block content %}
<div class="flex flex-col h-full">
    <div class="flex-1 h-full overflow-y-auto">
        <div class="flex flex-col sm:flex-row sm:mx-auto h-full">
            <div class="sm:flex-1 p-4 bg-gray-50 h-full overflow-y-scroll sm:w-full">
                {% include "page/messages.html" %}
                <div class="flex flex-col h-full">
                    <div class="flex flex-row justify-center sm:justify-between">
                        <div class="flex flex-col p-4">
                            <div class="text-xl text-primary font-semibold sm:text-xl">
                                VSI Solutions
                            </div>
                        </div>
                        <div class="flex flex-row justify-center items-center gap-4 pr-4">
                            <span class="text-sm text-gray-700">{{ user.get_full_name|default:user.username }}</span>
                            <a href="{% url 'account_logout' %}" class="btn bnt-sm">
                                Logout
                            </a>
                        </div>
                    </div>

                    <div class="w-full">
                        <ul class="flex gap-2">
                            <li class="tab {% if menu_slug == 'dashboard' %}tab-active{% endif %}">
                                <a href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li class="tab {% if menu_slug == 'grn_management' %}tab-active{% endif %}">
                                <a href="{% url 'grn:grn_management' %}">GRN Management</a>
                            </li>
                            <li class="tab {% if menu_slug == 'drive_management' %}tab-active{% endif %}">
                                <a href="{% url 'grn:drive_management' %}">Drive Management</a>
                            </li>
                            <li class="tab {% if menu_slug == 'communication_log' %}tab-active{% endif %}">
                                <a href="{% url 'grn:communication_log' %}">Customer Management</a>
                            </li>
                            <li class="tab {% if menu_slug == 'communication_log' %}tab-active{% endif %}">
                                <a href="{% url 'grn:communication_log' %}">Communication Log</a>
                            </li>
                        </ul>
                    </div>
                    <div class="flex flex-col gap-2">
                        <div class="w-full flex justify-end">
                            {% block page_actions %}
                            {% endblock page_actions %}
                        </div>
                        <div>
                            {% block page %}
                            {% endblock page %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
