
{% load account_tags %}
<aside id="logo-sidebar"
    class="bg-gray-200 hidden sm:block w-64 transition-transform -translate-x-full border-r border-gray-200 sm:translate-x-0 h-full"
    aria-label="Sidebar"
>
    <div class="flex flex-col h-full p-4 overflow-y-auto">
        <div class="h-full flex flex-col space-y-8">
            <div class="w-full flex flex-col space-y-3">
                <ul class="menu space-y-2 font-medium">
                    <li>
                        <a href="{% url 'dashboard' %}"
                            class="sidebar-item {{menu_slug|is_menu_active:'dashboard_menu'}}">
                            <i class="fa fa-chart-pie"></i>
                            <span class="ms-3 font-normal">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-1 flex flex-col justify-end space-y-2">
            <div class="sidebar-item flex justify-start hover:cursor-pointer">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="w-full hover:cursor-pointer" id="submit-id-submit">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="ms-3 font-normal">Sign out</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</aside>
