{% extends "base.html" %}

{% block title %}VSI Solutions | Dashboard{% endblock %}

{% block content %} 
<div class="container-grid">
    <section class="panel">
        <h2>Dashboard</h2>

        <div class="card-container">
            <div class="card">
                <span>3</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="card">
                <span>2</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="card">
                <span>7</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="card">
                <span>9</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="card">
                <span>12</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="card">
                <span>4</span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

    </section>
    <section class="panel">
        <h2>Notifications</h2>
        <ul>
            <li>A new drive was returned</li>
            <li>Gavin requested a drive</li>
            <li>A PO was recieved</li>
        </ul>
    </section>
</div>
{% endblock %}