{% extends "page/base.html" %}
{% block content %}
<section class=" ">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 bg-sky-800">
      <div class="w-full rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Change password
              </h1>
              <p class="text-sm font-medium text-gray-800">
                  Enter your new password below.
              </p>
              <form class="space-y-4 md:space-y-6" action="{{ action_url }}" method="post">
                  {% csrf_token %}
                  <input id="id_password1" name="password1" placeholder="New password" type="password" class="focus:outline-hidden py-2 border w-full px-4 bg-white rounded-lg appearance-none block leading-normal text-gray-700 border-gray-300">
                  <ul class="text-sm font-light text-gray-500 dark:text-gray-400">
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                  </ul>
                  <input id="id_password2" name="password2" placeholder="Confirm new password" type="password" class="focus:outline-hidden py-2 border w-full px-4 bg-white rounded-lg appearance-none block leading-normal text-gray-700 border-gray-300">
                  <button type="submit" name="action" 
                  class="font-medium rounded-lg text-sm w-full text-white bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-hidden focus:ring-sky-300 px-5 py-2.5 text-center dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-800 cursor-pointer" 
                  id="submit-id-submit">
                    Change Password
                  </button>
              </form>
          </div>
      </div>
  </div>
</section>

{% endblock content %}
