/* 
This is mostly classes and elements that is only aplicable to data being displayed on an island instead of in a table format. 

*/

/* Grid layout containers */
.container-grid2{ /* Grid with two auto column templates */
    display: grid;
    grid-template-columns: auto auto;
}
.container-grid{ /* Grid with one auto and one fraciton*/
    display: grid;
    grid-template-columns: auto 1fr;
}

.card-container{ /* Grid with three auto columns*/
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

/* Card styling */
.card{

    padding: 10px;
    box-shadow: 0 0 2px 1.5px rgb(0, 0, 0, 0.25);
    margin: 25px;
    border-radius:5px;
    font-size: 16px;
    background-color: rgb(245, 245, 245);
}
.card > *{
    text-align: center;
}
.card span{
    font-size: 2em;
    color: #468FAF;
    display: block;
}
.card p{
    padding: 0;
    margin: 2px;    
    color: #013A63;
}

ul li{
    line-height: 1.5;
}

