{% extends "page/session_header.html" %}

{% block actions %} 
<hr class="border-b-2 mb-3 mt-3">
<div class="relative">
    <h2 class="text-center text-3xl font-bold">Join Requests</h2>
    <a class="btn btn-primary btn-sm absolute right-0 top-0" href="{% url 'accounts:dashboard' %}">Back</a>
</div>
{% endblock actions %}

{% block content %}
<div class="p-4 bg-white shadow-[1px_0_2px_2px_rgb(0,0,0,0.25)] text-center rounded-xl flex-1 min-w-{% firstof  as  %}">
    <div class="overflow-x-scroll">
        {# The list #}
        <table class="w-full">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Surname</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Approve</th>
                </tr>
            </thead>
            <tbody>
                {% for r in joinrequests %}
                <tr>
                    <td>{{r.user.username}}</td>
                    <td>{{r.user.surname}}</td>
                    <td>{{r.user.email}}</td>
                    <td class="flex justify-center">
                        {# Approve join request #}
                        <form method="post" action="{% url 'accounts:approve_join_request' r.id %}">
                            {% csrf_token %}
                            <button class="text-green-600 text-xl font-bold hover:cursor-pointer">✓</button>
                        </form>
                        {# Deny join request #}
                        <form method="post" action="{% url 'accounts:deny_join_request' r.id %}">
                            {% csrf_token %}
                            <button class="text-red-600 text-xl font-bold ml-3 hover:cursor-pointer">✕</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}