/*
Styles used for the header devider, mostly the same on all templates
 */
header{
    padding: 10px;
    background-color: #ececec;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.5);
}

header h1{
    padding: 10px 15px;
    text-align: center;
}
.heading-container{ /* Used to align the heading and notification bell*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
}
/* Bell icon + number of notifications */
.bell{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 2px 2px 1px rgb(0,0,0,0.25);
    height: 40px;
    position: absolute;
    right: 20px;
    align-self: center;
}
.bell img{
    width: 40px;
    height: 40px;
}
.bell .badge{
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50%;
    padding: 5px;
    background-color: rgb(227, 227, 227);
    color: black;
    box-shadow: 0 0 1px 2px rgb(0, 0, 0, 0.5);   
}

/* Navigation bar */
nav{
    margin: 10px;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
nav ul li{
    padding: 10px; 
    margin: 3px 25px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #01497C;
    box-shadow: 0 0 2px 1px rgb(0,0,0,0.25);
}

nav ul li:hover, .active{
    box-shadow: 1px 1px 2px 2px rgb(0,0,0,0.25);
    cursor: pointer;
    translate: 0 -1px;
}

a{
    text-decoration: none;
    color: #01497C;
}





/* Psuedo classes */
.bell img:hover{
    translate: 0 -2px;
    cursor: pointer;    
}
.bell:has(img:hover){
    box-shadow: 0 2px 2px 1.5px rgb(0, 0, 0, 0.25);
}
.bell .badge:has(~ img:hover){
    translate: 0 -2px;
}
.bell .badge:hover{
    cursor: pointer;
}


