{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}VSI Solutions{% endblock %}</title>

    <link rel="stylesheet" href={% static "dbapp/css/base.css" %}>
</head>
<body>
    <header class="panel">
        <div class="heading-container">
            <h1>VSI - Goods Returned Program</h1>

            <div id="" class="bell">
                <span class="badge">3</span>
                <img src="{% static 'dbapp/images/icons/notification_bell.png' %}" alt="Notification Bell">
            </div>
        </div>
        <nav>
            <ul>
                <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    <a href="#" >Dashboard</a>
                </li>
                <li>
                    <a>GRN Management</a>
                </li>
                <li class="{% if request.resolver_match.url_name == 'goods_table' %}active{% endif %}">
                    <a href={% url 'grn:goods_table' %}>Goods Table</a>
                </li>
                <li>
                    <a>Client Table</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <section id="modal" class="modal notifications-modal">
    </section>

    <footer>
    </footer>
    <script src="{% static 'dbapp/js/script.js' %}"></script>
</body>
</html>