{% extends '../page/session_navbar.html' %}

{% block title %}VSI Solutions | Goods Table{% endblock %}

{% block content %}

<div class="m-9 p-4 bg-white shadow-[1px_0_2px_2px_rgb(0,0,0,0.25)] text-center rounded-xl flex-1">
    <div class="overflow-x-scroll">
        <table class="table text-base table-pin-rows table-pin-cols">
            <thead class="text-sky-900">
                <tr class="text-center">
                    <th>Serial number</th>
                    <th>GRN Number</th>
                    <th>Model Number</th>
                    <th>Customer</th>
                    <th>Urgency</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Days<br>waiting</th>
                    <th>All Information</th>     
                </tr>
            </thead>
            <tbody class="text-sky-800 whitespace-nowrap">
                {% for i in 'Lorem'%}
                    <tr class="h-1">
                        {% for i in '12345678'%} <td>Lorem ipsum</td> {% endfor %}
                        {# Open Modal #}
                        <td><button class="btn btn-sm font-medium m-" onclick="view_more_modal.showModal()">View more</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<dialog id="view_more_modal" class="modal">
  <div class="modal-box fixed top-[5%] w-full">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">Press ESC key or click on ✕ button to close</p>
  </div>
</dialog>
{% endblock %}