{% extends "../page/session_navbar.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block page %} 

        {% load django_tables2 %}
        <div class="m-9 p-4 bg-white shadow-[1px_0_2px_2px_rgb(0,0,0,0.25)] text-center rounded-xl flex-1">
                <div class="overflow-x-scroll">
                        <table class="table text-base table-pin-rows table-pin-cols">
                                <thead class="text-sky-900">
                                        <tr class="text-center">
                                                {% for column in table.columns %}
                                                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                                                {% endfor %}
                                                <th>All Information</th>
                                        </tr>
                                </thead>
                                <tbody class="text-sky-800 whitespace-nowrap">
                                        {% for row in table.rows %}
                                                <tr class="h-1">
                                                        {% for column, cell in row.items %}
                                                                <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                                                        {% endfor %}
                                                        <td>
                                                                <a href="{% url 'grn:expand_good' row.record.id %}" class="btn btn-sm font-medium">View more</a>
                                                        </td>
                                                </tr>
                                        {% endfor %}
                                </tbody>
                        </table>
                </div>
        </div>

<!-- Modal -->
<dialog id="expand_goods" class="modal">
  <div class="modal-box fixed top-[5%] max-w-[60vw] w-fit">
      <a href="{% url 'grn:goods' %}" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</a>
        <h3 class="text-lg font-bold text-center">More information</h3>
        <p class="text-center">{{ goods_item.get_urgent_display }}</p>

        <div class="flex justify-around m-2">
            {% if goods_item.id %}
            <a href="{% url 'grn:delete_goods_item' goods_item.id %}" class="bg-sky-700 hover:bg-sky-800 text-sm text-white py-1 px-2 rounded">
                Remove
            </a>
            {% endif %}
            <a href="" class="bg-sky-700 hover:bg-sky-800 text-sm text-white py-1 px-2 rounded">
                Edit
            </a>
        </div>
        <hr class="mt-2 mb-2">

       
                <div class="grid grid-cols-2 gap-x-12 gap-y-4">
                        <ul>
                                <h4 class="font-bold">Identification</h4>
                                <li>Type of Good: {{ goods_item.get_type_of_good_display }}</li>
                                <li>GRN Number: {{ goods_item.grn.grn_number }}</li>
                                <li>Serial number: {{ goods_item.serial_number }}</li>
                                <li>Model number: {{ goods_item.model_number }}</li>
                        </ul>
                        <ul>
                                <h4 class="font-bold">Track</h4>
                                <li>Status: {{ goods_item.get_status_display }}</li>
                                <li>Location: {{ goods_item.get_location_display }}</li>
                                <li>Days in warehouse: {{ goods_item.days_in_warehouse.days }}</li>
                                <li>Days awaiting us: {{ goods_item.days_awaiting_us }}</li>
                                <li>Days awaiting customers: {{ goods_item.days_awaiting_client }}</li>
                        </ul>
                        <ul>
                                <h4 class="font-bold">{{ goods_item.get_type_of_good_display }} Information</h4>
                                <li>Reason for return: {{ goods_item.get_reason_for_return_display }} </li>
                                <li>Reason for credit request: {{ goods_item.get_reason_for_credit_request_display}}</li>
                        </ul>
                        <ul>
                                <h4 class="font-bold">Customer Information</h4>
                                <li>Customer: {{ goods_item.grn.contact_person.company.name }}</li>
                                {% if goods_item.grn.contact_person.company.branch %}<li>Customer Branch: {{ goods_item.grn.contact_person.company.branch }}</li>{% endif %}
                                {% if goods_item.grn.contact_person.company.farm %}<li>Farm: {{ goods_item.grn.contact_person.company.farm }} </li>{% endif %}
                                <li>Contact Person: {{ goods_item.grn.contact_person.name }} {{ goods_item.grn.contact_person.surnname }}</li>
                                <li>Contact Person Email: {{ goods_item.grn.contact_person.email }}</li>
                        </ul>
                        <ul>
                                <h4 class="font-bold">Numbers</h4>
                                <li>Job Card Number: {{ goods_item.job_card_number }}</li> 
                                <li>Report Quote Number: {{ goods_item.report_quote_number }}</li>
                                <li>Customer Order Number: {{ goods_item.customer_order_number }}</li>
                                <li>Dispatch Note: {{ goods_item.dispatch_note }}</li>
                                <li>Invoice Credit Number: {{ goods_item.invoice_credit_number }}</li>
                                <li>Invoice Credit Value: R {{ goods_item.invoice_credit_value }}</li>
                        </ul>
                        <ul>
                                <h4 class="font-bold">Dates</h4>
                                <li>Date returned: {{ goods_item.grn.date_returned }}</li>
                                <li>Credit Passed Date: {{ goods_item.credit_passed_date }}</li> 
                                <li>Original Invoice Date: {{ original_invoice_date }}</li>
                        </ul>

                </div>
                {% if goods_item_description %}
                <h4 class="font-bold text-center">Description</h4>
                <p>{{ goods_item.description }}</p>
                {% endif %}
  </div>
</dialog>

<input type="hidden" value="{{ expand_goods_modal }}" id="expand_goods_modal">
{% endblock page %}

{% block scripts %}
<script src="{% static 'js/view-more-modals.js' %}"></script>
{% endblock scripts %}

