name: Run tests

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  JWT_SECRET: "123456789abcdefg"

jobs:
  pytest:
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres
        env:
          POSTGRES_DB: "postgres"
          POSTGRES_PASSWORD: "postgres"
          POSTGRES_USER: "postgres"
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: pip install -r dev-requirements.txt
      - name: Run pytest
        run: pytest
